
@{
    /**/

    ViewBag.Title = "Update Service";
}
<h2></h2>
@section Menu {
    @Scripts.Render("~/Scripts/Master/ServiceContractManager/menu")
}
@Styles.Render("~/AdminLTE/plugins/daterangepicker/css")
@Styles.Render("~/AdminLTE/plugins/colorpicker/css")
@Styles.Render("~/AdminLTE/plugins/timepicker/css")
@Styles.Render("~/AdminLTE/plugins/select2/css")
@Styles.Render("~/AdminLTE/dist/css")
@Styles.Render("~/AdminLTE/dist/css/skins")
@section button {
    <section class="content-header">
        @*@ViewBag.Title
            <small>@ViewBag.SubTitle</small>*@
        <div class="pull-left">

            <button type="button" name="importexcel" onclick="ImportProduct()" class="btn btn-primary btn-sm">
                <i class="fa fa-floppy-o"></i>
                Lưu
            </button>
            <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Save")">
                <i class="fa fa-floppy-o"></i>
                Lưu và tiếp tục
            </a>
            <small><i class="fa fa-arrow-circle-left"></i><a href="/Master/ServiceContractManager">Quay lại</a></small>
        </div>

    </section>
}
<div class="row">
    <div class="col-md-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @Html.RenderBootstrapTabHeader("tab-ServiceInfo", "Thông tin dịch vụ", true)
                @Html.RenderBootstrapTabHeader("tab-ServiceDetail", "Thông tin chi tiết", false)
                @*@Html.RenderBootstrapTabHeader("tab-ServiceRate", "Giá hợp đồng", false)*@
            </ul>
            <div class="tab-content">
                @Html.RenderBootstrapTabContent("tab-ServiceInfo", @TabServiceInfo(), true)
                @Html.RenderBootstrapTabContent("tab-ServiceDetail", @TabServiceDetail(), false)
                @*@Html.RenderBootstrapTabContent("tab-ServiceRate", @TabServiceRate(), false)*@
            </div>
        </div>
    </div>
</div>
@helper TabServiceInfo()
{
    @Html.Partial("_CreateOrUpdateInfo")
}
@helper TabServiceDetail()
{
    @Html.Partial("_CreateOrUpdateDetail")
}
@helper TabServiceRate()
{
    /**/
    @Html.Partial("_CreateOrUpdateRate")
}
@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")

    @Scripts.Render("~/AdminLTE/plugins/select2/js")
    @Scripts.Render("~/AdminLTE/plugins/input-mask/js")
    @Scripts.Render("~/AdminLTE/plugins/momentjs/js")
    @Scripts.Render("~/AdminLTE/plugins/daterangepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/colorpicker/js")
    @Scripts.Render("~/AdminLTE/plugins/timepicker/js")
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
    @Scripts.Render("~/Scripts/Forms/Advanced")
}