
@{

    ViewBag.Title = "ServiceContractManager";
}
<h2></h2>
@section Menu {
    @Scripts.Render("~/Scripts/Master/ServiceContractManager/menu")
}

@section button {
    <section class="content-header">
        @*@ViewBag.Title
            <small>@ViewBag.SubTitle</small>*@
        <div class="pull-left">
            <a href="@Url.Action("Create")" class="btn btn-primary btn-sm"><i class="fa fa-plus-square"></i> Add New</a>
            <button type="button" name="importexcel" onclick="ImportProduct()" class="btn btn-primary btn-sm">
                <i class="fa fa-upload"></i>
                Import
            </button>
            <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("ExportXlsx")">
                <i class="fa fa-download"></i>
                Export
            </a>
            <button type="button" name="importimage" onclick="ImportImage()" class="btn btn-primary btn-sm">
                <i class="fa fa-upload"></i>
                Import Image
            </button>
        </div>

    </section>
}
    <div class="row">
        <div class="box box-primary">
            <div class="box-body">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info btn-flat">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-7">
        <div class="box box-primary">
            <div class="scroll-columns">
                <table class="table table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                        <tr>
                            <th>
                                Tên dịch vụ
                            </th>
                            <th>
                                Cung cấp bởi
                            </th>
                            <th>
                                Loại dịch vụ
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tableCategorys">
                        <tr class="CategoryRow">
                            <td>
                                Service Name
                            </td>
                            <td>
                                Suppler
                            </td>
                            <td>
                                Service Type
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="box box-primary">
            <div class="scroll-columns">
                <table class="table table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                        <tr>
                            <th>
                                Từ ngày
                            </th>
                            <th>
                                Đến ngày
                            </th>
                            <th>
                                Ghi chú
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tableCategorys">
                        <tr class="CategoryRow">
                            <td>
                                từ ngày 
                            </td>
                            <td>
                                đến ngày
                            </td>
                            <td>
                                ghi chú
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box box-primary">
            <div class="scroll-columns">
                <table class="table table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                        <tr>
                            <th>
                                Service Name
                            </th>
                            <th>
                                Suppler
                            </th>
                            <th>
                                Service Type
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tableCategorys">
                        <tr class="CategoryRow">
                            <td>
                                Service Name
                            </td>
                            <td>
                                Suppler
                            </td>
                            <td>
                                Service Type
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/icheck/js")
}

