
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Fixed Layout</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/Content/adminlte/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/adminlte/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/adminlte/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="~/Content/css/tables.css">
    <link rel="stylesheet" href="~/Content/css/responsive-tables.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/adminlte/dist/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*@if (IsSectionDefined("Meta"))
        {
            @RenderSection("Meta", required: false)
        }
        @if (IsSectionDefined("Title"))
        {
            @RenderSection("Title", required: false)
        }*@
    @*@Styles.Render("~/Content/css")*@


    @Styles.Render("~/Content/ej2/material.css")
    @Scripts.Render("~/Scripts/ej2/ej2.min.js")
    @*@Scripts.Render("~/Scripts/ej2/ej2-notifications.min.js")*@
    @*<script src="resources/ej2-notifications.min.js" type="text/javascript"></script>*@
</head>
<!-- ADD THE CLASS fixed TO GET A FIXED HEADER AND SIDEBAR LAYOUT -->
<!-- the fixed layout is not compatible with sidebar-mini -->
<body class="hold-transition skin-blue fixed sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        @*@Html.Partial("_Notifications")*@
        @Html.Partial("_MainHeaderPartial")
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        @Html.Partial("_LeftSideColumnPartial")
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @*@Html.Partial("_ContentHeaderPartial")*@
            @*@Html.Partial("_Notifications")*@
            <!-- Main content -->
            <section class="content">
                @RenderBody()
                @if (IsSectionDefined("ControlsSection"))
                {
                    @RenderSection("ControlsSection", required: false)
                }
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
        @*<partial name="_MainFooterPartial" />*@
        <!-- Control Sidebar -->
        @Html.Partial("_ControlSidebarPartial")
        <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->
    <!-- jQuery 2.1.4 -->
    <script src="~/Content/adminlte/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/Content/adminlte/bootstrap/js/bootstrap.min.js"></script>

    <!-- SlimScroll -->
    <script src="~/Content/adminlte/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/adminlte/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/adminlte/dist/js/app.js"></script>
    <!-- Select2 -->
    <script src="~/Content/adminlte/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Content/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    @*<script>
        ej.base.L10n.load({
            'fr-BE': {
                'Button': {
                    'id': 'Numéro de commande',
                    'date': 'Date de commande'
                }
            }
        });
        ej.base.setCulture('fr-BE');
    </script>*@
    <script>

        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()


            //Date picker
            $('#datepicker1').datepicker({
                //autoclose: true
            })
            $('#datepicker2').datepicker({
                //autoclose: true
            })
            $('#datepicker3').datepicker({
                //autoclose: true
            })
        })
    </script>
    @*@RenderSection("Scripts", required: false)*@
    @Html.EJS().ScriptManager()
    @RenderSection("Scripts", required: false)

</body>
</html>
